body {
  font-size: 18px;
}

.converter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.converter-form__input,
.converter__result {
  padding: 15px;
  text-align: center;
  font-weight: 600;
}

.converter-form__input {
  font-size: 18px;
  letter-spacing: .2em;
  outline: none;
}

.converter__result {
  min-height: 21px;
  margin-top: 10px;
  background-color: rgb(0, 0, 0, .5);
  color: #fff;
}
